/// Détermine une couleur différente.
/// Donne une couleur assombrie dérivée de $color, sauf si la couleur de base est déjà très sombre.
/// Dans ce cas là, on l'eclaircie.
/// @param {Color} $color La couleur de base
/// @param {number} $amount Le taux d'assombrissement/eclaircicement
@function get-color($color, $amount) {
  @if lightness($color) == lightness(darken($color, $amount)) {
    @return lighten($color, $amount);
  } @else {
    @return darken($color, $amount);
  }
}

@mixin colorize($originColor, $amount: null) {
  $color: null;

  @if $amount==null {
    $color: $originColor;
    $amount: 30;
  } @else {
    $color: get-color($originColor, $amount);
  }

  $bg: get-color($color, $amount);

  color: $color;
  background-color: $bg;
}
